.dashboard-top-row-item {
  display: flex;
}

::ng-deep .dashboard-top-row-item app-task-calendar {
  display: block;
  width: 100%;
  height: 100%;
}

::ng-deep .dashboard-top-row-item app-add-task {
  display: block;
  width: 100%;
}

::ng-deep .dashboard-top-row-item app-task-calendar .mat-mdc-card {
  height: 100%;
}
